body {
    background-color: dodgerblue;
    font-family: sans-serif; 
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

div {
    background-color: white;
    
}

h1 {
    text-align: center;
    
}

h3 {
    font-size: medium;
    
}


p {
    text-align: center;
    
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    
}